@import 'variables';
.hero-operate {
  padding: 0;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
  width: 50%;
  height: 100%;
  h3 {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom:1px solid @border-color;
  }
}
