@import 'variables';
@import './octicons/utf-codes';
.hero-carousel {
  width: 100%;
  position: relative;
  .all-hero-covers {
    box-sizing: content-box;
    width: 100%;
    position: relative;
    height: 380px;
    padding: 10px 0 10px 0;
    margin-left: @app-padding;
    ul {
      transform: translateX(-500px);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .carousel-btn {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.4s;
    &.btn-previous {
      left: 10px;
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '@{chevron-left}';
        font-family: 'Octicons Regular';
        display: inline-block;
        font-size: 50px;
      }
    }
    &.btn-next{
      right: 30px;
      &:after{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '@{chevron-right}';
        font-family: 'Octicons Regular';
        display: inline-block;
        font-size: 50px;
      }
  }
  }

}
