@import './octicons/utf-codes';
@import 'variables';
.app-row {
  &.selected {
    h2 {
      color: #e6bf5a;
      &:after {
        content: '@{chevron-right}';
        font-family: 'Octicons Regular';
        display: inline-block;
        margin-left: 5px;
        font-size: 20px;
      }
    }

  }
  &:hover {
    h2 {
      color: #e6bf5a;
      &:after {
        content: '@{chevron-right}';
        font-family: 'Octicons Regular';
        display: inline-block;
        margin-left: 5px;
        font-size: 20px;
      }
    }
    .hero-carousel .carousel-btn {
      opacity: 1;
      &.btn-previous {
        box-shadow: 3px 0 20px 15px rgba(0,0,0,0.5);
      }
      &.btn-next {
        box-shadow: 15px 0 20px 15px rgba(0,0,0,0.5);
      }
    }
  }
  h2 {
    padding-left: @app-padding;
  }
}
