.lol-font-size(@factor){
  // body {
  //   font-size: @font-size-base * @factor;
  // }

  // .smail {
  //   font-size: @font-size-small * @factor;
  // }

  // .large {
  //   font-size: @font-size-large * @factor;
  // }

  // h1, .h1 { font-size: @font-size-h1 * @factor; }
  // h2, .h2 { font-size: @font-size-h2 * @factor; }
  // h3, .h3 { font-size: @font-size-h3 * @factor; }
  // h4, .h4 { font-size: @font-size-h4 * @factor; }
  // h5, .h5 { font-size: @font-size-h5 * @factor; }
  // h6, .h6 { font-size: @font-size-h6 * @factor; }
}

.lol-hero-cover-size(@factor) {
  .carousel-btn {
    height: 420px * @factor;
  }
  .hero-carousel {
    height: 380px * @factor;
  }
  .hero-cover {
    width: 260px * @factor;
    height: 380px * @factor;

    &:hover,&.selected {
      width: 280px * @factor;
      height: 420px * @factor;
    }
  }
}

.lol-detail-size(@factor) {
  .popup-page {
    height: 450px * @factor;
    .tab-button {
      font-size: 24px * @factor;
    }
  }

}


@media (min-width: 1920px) {
  .lol-hero-cover-size(1);
  .lol-detail-size(1);
}

@media (max-width: 1920px) {
  .lol-hero-cover-size(1);
  .lol-detail-size(1);
}

@media (max-width: 1600px) {
  .lol-hero-cover-size(1600/1920);
  .lol-detail-size(1600/1920);
}
